{% extends 'partials/base.html.twig' %}
{% block content %}
<a id="hero" href="#" style="visibility: hidden;"></a>
 <section id="styles" style="padding: 90px 0 72px; background: #fff;">
  <div class="row">
   {{ page.content }}
 </div>
</section>
{% endblock %}
